@model ResearchHub.Models.Quiz

@{
    ViewData["Title"] = "Delete";
}
<style>
    body{
        background-color: #d2f6f6;
    }
    div{
        background-color: #edfbfb;
    }
</style>
<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Quiz</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numberOfCorrectAnswers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numberOfCorrectAnswers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.minimumScoreNeeded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.minimumScoreNeeded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pointsPerQuestion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pointsPerQuestion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResearchPaper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResearchPaper.ID)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
