@model ResearchHub.Models.Quiz

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Quiz</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numberOfCorrectAnswers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numberOfCorrectAnswers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.minimumScoreNeeded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.minimumScoreNeeded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pointsPerQuestion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pointsPerQuestion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResearchPaper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResearchPaper.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
