@model IEnumerable<ResearchHub.Models.Quiz>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.numberOfCorrectAnswers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.minimumScoreNeeded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pointsPerQuestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResearchPaper)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.numberOfCorrectAnswers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.minimumScoreNeeded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pointsPerQuestion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResearchPaper.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
